@font-face {
    font-family: 'Assistant';
    src: local('Assistant-Regular.ttf')
}
@font-face {
    font-family: 'Assistant-Semibold';
    src: local('Assistant-Semibold.ttf')
}
body, html {
  background-color: rgb(242,244,247);
  margin: 0;
  font-family: Assistant;
}
* {
  user-select: none;
}
p {
  cursor: context-menu
}
a {  
  text-decoration: none;  
}