body, html {
  background-color: #ecf4f6;
  margin: 0;
}

@font-face {
  font-family: 'Assistant';
  src: local('Assistant'), url(./utils/fonts/Assistant/Assistant-Regular.ttf) format('truetype');
}

a {  
  text-decoration: none;  
}